<ion-content [fullscreen]="true">
  <header>
    <h1 class="title">TÍTULO PENDIENTE</h1>
    {{userPreference()}}  
    <div class="logSign">
      @if (userName() && userName() != '' ) {
        <h2> {{ userName() }}</h2>
      } @else {
        <button [routerLink]="['/login']">Log In</button>
        <button [routerLink]="['/signup']">Sign Up</button>
      }
    </div>
  </header>
  <div class="container">
  </div>
  <app-nav-bar class="navBar"></app-nav-bar>
  <router-outlet></router-outlet>
</ion-content>
