<ion-content [fullscreen]="true">
  <header>
    <h1 class="title">TÍTULO PENDIENTE</h1>
    {{userPreference()}}  
    <div class="logSign">
      @if (userPreference() && userPreference() != '' ) {
        <div class="row">
          <div class="column">
            <h2> {{ userPreference() }}</h2>
          </div>
          <div class="column">
            <button [routerLink]="['/landing']" (click)="logOut()">Log Out</button>
          </div>
        </div>
      } @else {
        <button [routerLink]="['/login']">Log In</button>
        <button [routerLink]="['/signup']">Sign Up</button>
      }
    </div>
  </header>
  <div class="container">
  </div>
  <app-nav-bar class="navBar"></app-nav-bar>
  <router-outlet></router-outlet>
</ion-content>
