<ion-content [fullscreen]="true">
  <div class="topAlign">
    <ion-title>
      Create your account
    </ion-title>
    <p class="subTitle">Create your account to log in</p>
  </div>
  <form [formGroup]="regForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" class="input" placeholder="Name"></ion-input>
        <ion-icon  class="icon" name="person-outline"></ion-icon>
      </ion-item>
      @if (this.regForm?.controls?.['fullname'].touched && this.regForm?.controls?.['fullname'].invalid) {
        <div>
          @if (errorControl['fullname'].errors['required']) {
            <ion-text>
              Full name is required
            </ion-text>
          }
        </div>
      }
      

      <ion-item>
        <ion-input class="input" formControlName="email" placeholder="email"></ion-input>
        <ion-icon class="icon"  name="person-outline"></ion-icon>
      </ion-item>
      @if (this.regForm?.controls?.['email'].touched && this.regForm?.controls?.['email'].invalid) {
        <div>
          @if (errorControl['email'].errors?.['required']) {
            <ion-text>
              Email is required
            </ion-text>
          }
          @if (errorControl['email'].errors?.['pattern']) {
            <ion-text>
              Email should be valid
            </ion-text>
          }
        </div>
      }
      
      <ion-item>
        <ion-input class="input" formControlName="password" placeholder="password"></ion-input>
        <ion-icon class="icon" name="lock-closed-outline"></ion-icon>
      </ion-item>
      @if (this.regForm?.controls?.['password'].touched && this.regForm?.controls?.['password'].invalid) {
        <div>
          @if (errorControl['password'].errors?.['required']) {
            <ion-text>
              Password is required
            </ion-text>
          }
          @if (errorControl['password'].errors?.['pattern']) {
            <ion-text>
              Password must at least have 
              One character
              one Capital Letter
              One number
              Contain 8 digits
            </ion-text>
          }

        </div>
      }
      
      <div class="signinLink">
        <a [routerLink]="['/reset-password']">Forgot Password?</a>
      </div>
      <div class="logInLink">
        <p>Already a member? <a [routerLink]="['/login']">Signin Up Now</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click) = "signUp()" >
        <ion-icon name="chevron-forward">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
