<ion-content [fullscreen]="true" >
  <div  class="topAlign">
    <ion-title>
      Welcome Back
    </ion-title>
    <p class="subTitle">Sign in to access </p>
  </div>
  <form [formGroup]="loginForm">
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="Email" class="input" formControlName="email"></ion-input>
        <ion-icon  name="person-outline"></ion-icon>
      </ion-item>
      @if (this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid) {
        <div>
          @if (errorControl.email.errors?.['required']) {
            <ion-text>
              Email is required
            </ion-text>
          }
          @if (errorControl.email.errors?.['pattern']){
            <ion-text>
              Email should be valid
            </ion-text>
          }
        </div>
      }
     
      <ion-item>
        <ion-input placeholder="password" class="input" formControlName="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      @if (this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid) {
        <div>
          @if (errorControl.password.errors?.['required']) {
            <ion-text>
              Password is required
            </ion-text>
          }
          @if (errorControl.password.errors?.['pattern']){
            <ion-text class="errorInput"  color="danger">Password Must contain at least one character</ion-text>
          }
        </div>
      }
      
      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" >Forgot Password?</a>
      </div>
      <div class="signUpLink">
        <p>New member? <a [routerLink]="['/signup']">Sign Up Now</a></p>
      </div>
    </div>
    
    <ion-grid class="loginButton">
      <button type="submit" (click) = "login()" >Log In</button>
    </ion-grid>
  </form>
</ion-content>
