<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <div>
      <div> Hour: {{ (bol()).toFormat('HH:mm:ss') }}</div>
      <div> Hour + 1: {{ (arg()).toFormat('HH:mm:ss') }}</div>
    </div>

    <ion-button (click)="onLoginClick()"> Login</ion-button>
    <ion-button (click)="onSignClock()"> Signup</ion-button>
  </div>
</ion-content>
